@import "bootstrap";

.navbar {
    background-color: black !important;
}

.nav-link {
    color: white !important;
}

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#home-container {
    margin-top: 25px;
    margin-bottom: 25px;
}

.jumbotron {
    background-image: asset-url('jumbo-copy-2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 575px;
    border-radius: 10px;
    margin-top: 40px;
}

.jumbo-content {
    padding-top: 60px;
}


// Sticky Footer Classes below
html,
body {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
    background-color: lightgray;
}

#sticky-footer {
    flex-shrink: none;
}